* {
    font-family: 'Hind', sans-serif;
    box-sizing: border-box;
}

hr {
    color: black;
    background: none;
}

main {
    background: rgba(217, 217, 217, 0.205);
    padding-top: .5rem;
    padding-bottom: .5rem;
    border: 1px transparent;
    border-radius: 1rem;
}

.navbarcontent {
    margin-right: 1rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputsearch {
    display: flex;
    border-right: none;
    border-radius: 1rem 0px 0px 1rem;
    width: 75%;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
}

.btnsearch {
    border-radius: 0px 1rem 1rem 0px;
    cursor: pointer;
    width: 35px;
    height: 40px;
}

.part1, .part2 {
    margin: 1rem;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content1, .content2, .content3, .content4 {
    width: 45%;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    background-color: white;
    list-style: none;
    transition: transform 0.3s ease;
    border-radius: 1rem;
}

.content1:hover, .content2:hover, .content3:hover, .content4:hover, .produto:hover {
    cursor: pointer;
    background-color: rgb(89, 89, 245);
    transform: translateY(-5px);
    color: white;
}

.part2 {
    margin-top: 0px;
}

section h1 {
    text-align: center;
}

.estoquecontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.produto {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 220px;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 1rem;
    padding-left: 10px;
    transition: transform 0.3s ease;
    background-color: white;
}

.overlay {
    top: 10%;
    left: 10%;
    position: fixed;
    width: 80%;
    height: 80%;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, .9);
    display: none;
    z-index:1;
}

.itens {
    display: flex;
    margin: 1rem;
    align-items: center;
    flex-direction: column;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin: 3rem;
}

form .first {
    margin-top: 0;
}

form .last {
    margin-bottom: 2rem;
}

form input {
    width: 400px;
    height: 35px;
    margin: .5rem;
    outline: none;
}

.exit {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}

@media (min-width:622px) {
    .inputsearch {
        width: 90%;
    }
}

@media (max-width:688px) {
    .content1, .content2, .content3, .content4 { 
        width: 75%;
    }
}